- if notice
  .p-4.mb-4.text-sm.text-green-800.rounded-lg.bg-green-50(class="dark:bg-gray-800 dark:text-green-400" role="alert")
    %span.font-medium Success!
    = notice
- if alert
  .p-4.mb-4.text-sm.text-red-800.rounded-lg.bg-red-50(class="dark:bg-gray-800 dark:text-red-400" role="alert")
    %span.font-medium Success!
    = alert
